<form {{action 'editQuestion' on='submit'}}>
  {{input class="input-small" type="text" placeholder="New Question Name" value=newQuestion.title required="true"}}
  {{input class="input-small" type="text" placeholder="New Answer 1" value=newQuestion.answer1 required="true"}}
  {{input class="input-small" type="text" placeholder="New Answer 2" value=newQuestion.answer2 required="true"}}
  {{input class="input-small" type="text" placeholder="New Answer 3" value=newQuestion.answer3 required="true"}}
  {{input class="input-small" type="text" placeholder="New Answer 4" value=newQuestion.answer4 required="true"}}
  {{input class="input-small" type="number" min="1" max="4" placeholder="Correct Response" value=newQuestion.correct required="true"}}
  <p>Enter the number of the correct answer (1, 2, 3, or 4).</p>
  {{input class="input-small" type="number" min="1" max="20" placeholder="Point Value for Question" value=newQuestion.points required="true"}}
  <p>Enter the number of points to be earned/lost from this question. </p>
  <button class="btn btn-success" type="submit">Update Question </button>
</form>
