<h2>{{question.title}} <span> Points: {{question.points}} </span></h2>
{{question-answer updateScore="updateScore" user=user question=question answer=1 value=question.answer1}}
{{question-answer updateScore="updateScore" user=user question=question answer=2 value=question.answer2}}
{{question-answer updateScore="updateScore" user=user question=question answer=3 value=question.answer3}}
{{question-answer updateScore="updateScore" user=user question=question answer=4 value=question.answer4}}
