<h2>{{question.title}} <span> Points: {{question.points}} </span></h2>
{{question-answer logResponse="logResponse" updateScore="updateScore" user=user quizAuthor=quizAuthor question=question question_response=question_response answer=1 value=question.answer1}}
{{question-answer logResponse="logResponse" updateScore="updateScore" user=user quizAuthor=quizAuthor question=question question_response=question_response answer=2 value=question.answer2}}
{{question-answer logResponse="logResponse" updateScore="updateScore" user=user quizAuthor=quizAuthor question=question question_response=question_response answer=3 value=question.answer3}}
{{question-answer logResponse="logResponse" updateScore="updateScore" user=user quizAuthor=quizAuthor question=question question_response=question_response answer=4 value=question.answer4}}
