{{#each model.questions as |question|}}
  <h2>{{question.title}}</h2>
  <button class="btn btn-primary"> {{question.answer1}} </button>
  <button class="btn btn-primary"> {{question.answer2}} </button>
  <button class="btn btn-primary"> {{question.answer3}} </button>
  <button class="btn btn-primary"> {{question.answer4}} </button>
{{/each}}
