<h2>Quizzes</h2>
<h3>Select a quiz to play or {{#link-to 'create-quiz'}}create your own{{/link-to}}!</h3>
<table class="table">
  <thead>
    <tr>
      <td>Category</td>
      <td>Quiz Title</td>
      <td>Uploaded By</td>
      <td>Avatar</td>
      <td>Options</td>
    </tr>
  </thead>
  <tbody>
    {{#each model as |quiz|}}
      <tr>
        <td>{{quiz.category}}</td>
        <td>{{#link-to 'quiz' quiz.id}} {{quiz.title}} {{/link-to}}</td>
        <td>{{quiz.user.username}}</td>
        <td><img class="propic" src='{{quiz.user.propic}}'></td>
        <td>
          {{#if quiz.editable}}
            {{delete-quiz-button quiz=quiz deleteQuiz='deleteQuiz'}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
